
body {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .weather-display {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90vw;
    max-width: 400px;
  }